* {
  padding: 0%;
  margin: 0%;
  /*background-color: rgb(93, 93, 93);*/
}
:root {
  --colorPrincipal: rgb(255, 255, 0);
  --colorSecundario: rgb(251, 117, 251);
  --logo: #eb2a1f;
}
body {
  background-image: url(./img/fondoPagina.svg);
}
.header {
  margin-left: 20px;
  margin-top: 20px;
  width: 15%;
  display: grid;
  justify-items: center;
}
.header img {
  width: 200px;
  padding-bottom: 8px;
}
.header h2 {
  text-decoration: overline underline;
  text-underline-offset: 5px;
  text-decoration-color: var(--logo);
}
.titles {
  margin-top: 40px;
  width: 100%;
  font-family: cursive;
}
.titles h1 {
  text-align: center;
  font-size: 3rem;
  /*color: var(--colorPrincipal);*/
}
.titles span {
  text-decoration: overline underline;
  text-decoration-color: var(--logo);
  text-underline-offset: 20px;
  vertical-align: middle;
  font-size: 3.5rem;
}
.titles h2 {
  margin-left: 60px;
  padding-top: 60px;
  font-size: 2rem;
  color: var(--logo);
}
.menu {
  margin-top: 40px;
  margin-left: 60px;
  font-family: cursive;
}
.menu label {
  font-size: large;
  font-weight: bold;
}
.menu select {
  min-width: 180px;
  margin-left: 30px;
  padding-left: 10px;
  padding-right: 10px;
  font-size: medium;
  font-family: cursive;
}
.menu button {
  font-size: medium;
  font-weight: bold;
  font-family: cursive;
  margin-left: 20px;
  padding-right: 10px;
  padding-left: 10px;
}
.menu img {
  margin-top: 40px;
  margin-bottom: 20px;
  margin-left: 50px;
  width: 400px;
}
.container {
  margin-left: 50px;
}
.container h2 {
  padding-left: 20px;
  padding-bottom: 20px;
  text-decoration: overline underline;
  text-decoration-color: var(--logo);
  text-underline-offset: 10px;
}
.container p {
  margin-bottom: 100px;
}
