* {
  padding: 0%;
  margin: 0%;
  /*background-color: rgb(93, 93, 93);*/
}
:root {
  --colorPrincipal: rgb(255, 255, 0);
  --colorSecundario: rgb(251, 117, 251);
  --logo: #eb2a1f;
}
body {
  background-image: url(./img/fondoPagina.svg);
}
.header {
  margin-left: 20px;
  margin-top: 20px;
  width: 15%;
  display: grid;
  justify-items: center;
}
.header img {
  width: 200px;
  padding-bottom: 8px;
}
.header h2 {
  text-decoration: overline underline;
  text-decoration-color: var(--logo);
}
.titles {
  margin-top: 40px;
  width: 100%;
  font-family: cursive;
}
.titles h1 {
  text-align: center;
  font-size: 3rem;
  /*color: var(--colorPrincipal);*/
}
.titles span {
  text-decoration: overline underline;
  text-decoration-color: var(--logo);
  vertical-align: middle;
  font-size: 3.5rem;
}
.titles h2 {
  margin-left: 100px;
  padding-top: 40px;
  font-size: 2rem;
  color: var(--logo);
}
.menu {
  margin-top: 40px;
  margin-left: 60px;
}
